@CHARSET "ISO-8859-1";
body
{
	background-image: url('f:/loops.jpg');
	repeat: no-repeat;
	/*background-size: 100% 100%;
	hieght:100px;
	width:100px;*/
}
div.logobox {
	background-image: url('f:/logo.png');
	background-size: 100% 100%;
	height: 50px; 
	width: 70px;
}
div.userbox {
    width: 400px;
	padding: 25px;
	margin-top:2%;
	margin-left: 30%;
	background-color: white;
}
div.header {
	 background-color:black;
     color:white;
     text-align:center;
     padding:20px;
}
#f{width:100%;
padding:5px;
list-style-type:none;
 overflow:hidden;}
#f li{width:15%;
 padding:5px 0;
  display:inline-block;
 float:left;}
div.but {
	font-size:16px;
}
div.footer {
	background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}